<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <link rel="icon" href="./pic/icon.ico">
    <title>About Us</title>
    <link rel="stylesheet" href="style.css">
    <style>
    #cursor{
          font-size: 40px;
          font-weight: 1000;
          background-color: aquamarine;
          color: aquamarine;
      }
      
    .padding-max{
      padding-top: 5px;
    }

    .text-effect h1 {
          overflow: hidden; /* Ensures the content is not revealed until the animation */
          /* border-right: .45em solid aquamarine; The typwriter cursor */
          white-space: nowrap; /* Keeps the content on a single line */
          margin: 0 auto; /* Gives that scrolling effect as the typing happens */
          letter-spacing: .15em; /* Adjust as needed */
          animation: 
            typing 4.5s steps(40, end),
            blink-caret .75s step-end infinite;
            
  }

  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    0% { border-color: aquamarine; }
}
   

/* Glitch effect */

@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');

body{
  max-width: 100;
  margin: 40px;
}

.glitch{ 
  display: flex;
  /* width: 100vw; */
  /* height: 100vh; */
  align-items: center;
  justify-content: center;
  max-width: 100;
  color: #fff;
  /* font-size: 96px; */
  font-family: 'Fira Mono', monospace;
  /* letter-spacing: -7px; */
}

div{
  animation: glitch 1s linear infinite;
}

@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

div:before,
div:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

div:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

div:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}



  /* Glitch end */



    </style>
</head>
 <body class="text-bg-dark padding-max">

  <header class="py-3 my-4 text-center font-monospace">
   <div class="text-effect"><h1>Keyboard Warriors..<span id="cursor">|</span></h1></div>


    <!-- blinking cursor -->
    <script>
      var cursor = true;
      var speed = 450;
      setInterval(() => {
        if(cursor) {
          document.getElementById('cursor').style.opacity = 0;
          cursor = false;
        }else {
          document.getElementById('cursor').style.opacity = 1;
          cursor = true;
        }
      }, speed);
  </script>
  <!-- bliking curson end -->


  
  </header>
    <div class="row padding-max glitch" id="details">
        <div class="col-lg-3">
          <img src="https://media.licdn.com/dms/image/D5603AQEUrgGht_-jrw/profile-displayphoto-shrink_800_800/0/1722622194026?e=1729123200&v=beta&t=KoyE7_xBHFYR8Dw5pDX21pAGR-gVl6wtIt5KtrZpk0I" class="bd-placeholder-img rounded-circle" width="140" height="140" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></img>
  
          <h2 class="fw-normal">Swarnadeep Das</h2>
          <p>Full Stack Developer, IGL</p>
          <p><a class="btn btn-manual" href="https://www.linkedin.com/in/swarnadeep-das-0836b3221/" target="_blank">View details »</a></p>
        </div>
        <div class="col-lg-3">
          <img src="https://media.licdn.com/dms/image/v2/D5603AQHjn_s3nKd1pg/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1705344749790?e=1729123200&v=beta&t=7PNH4YFzIGtuOJpehH7u9DeXFxX6eCHKHi2kvlHvfO8" class="bd-placeholder-img rounded-circle" width="140" height="140" href="#" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></img>
  
          <h2 class="fw-normal">Sovan Sarkar</h2>
          <p>Back-End Developer</p>
          <p><a class="btn btn-manual" href="https://www.linkedin.com/in/sovan-sarkar-803130222/" target="_blank">View details »</a></p>
        </div>
        <!-- <div class="col-lg-3">
          <img class="bd-placeholder-img rounded-circle" width="140" height="140" href="#" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></img>
  
          <h2 class="fw-normal">Sourom Bhagat</h2>
          <p>Front-End Developer, Creative Head</p>
          <p><a class="btn btn-manual" href="#" target="_blank">View details »</a></p>
        </div>

        <div class="col-lg-3">
          <img class="bd-placeholder-img rounded-circle" width="140" height="140" href="#" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></img>
  
          <h2 class="fw-normal">Satyajit Debnath</h2>
          <p>Ponga Master</p>
          <p><a class="btn btn-manual" href="#" target="_blank">View details »</a></p>
        </div>    -->
    </div>
      

 </body>
 <footer class="py-3 my-4">
  
  
  <p class="text-center text-muted">© 2022 Keyboard Warriors</p>
</footer>
</html>
      
      
      
