
<footer class="py-3 my-4">
  
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="/home" class="nav-link px-2 text-muted link-dark">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted link-dark">Category</a></li>
      <li class="nav-item"><a href="/pricing" class="nav-link px-2 text-muted link-dark">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted link-dark">FAQs</a></li>
      <li class="nav-item"><a href="/about" class="nav-link px-2 text-muted link-dark" target="_blank">About</a></li>
    </ul>
    <p class="text-center text-muted">© 2022 Keyboard Warriors</p>
  </footer>