    <!-- navbar -->
    <div class="container">
      <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
          <img src="./pic/logo.png">
          <div class="nametag">
          <h3>Keyboard
              <small class="text-muted">Warriors</small>
          </h3>
          </div>
        </a>
  
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 theme">
          <li><a href="/home" class="nav-link px-2 link-secondary text-black">Home</a></li>
          <!-- <div class="dropdown"> -->
           <li><a href="/content-course" class="nav-link px-2 link-secondary dropdown-item text-black" >Courses</a></li>

              <!-- <a href="#" class="nav-link px-2 link-secondary dropdown-item text-black" data-bs-toggle="dropdown">Category</a> -->
              <!-- <div class="dropdown-menu">
                  <a class="nav-link px-2 link-secondary"><b>Entrance Test</b></a>
                  <a href="#" class="dropdown-item">JEE MAINS</a>
                  <a href="#" class="dropdown-item">JEE ADVANCE</a>
                  <div class="dropdown-divider"></div>
                  <a class="nav-link px-2 link-secondary"><b>Class XI and XII</b></a>
                  <a class="nav-link px-2 link-secondary">Science</a>
                  <a href="#" class="dropdown-item">Computer Science</a>
                  <a href="#" class="dropdown-item">Mathematics</a>
                  <a class="nav-link px-2 link-secondary">Arts & Commerce</a>
                  <a href="#" class="dropdown-item">Geography</a>
                  <a href="#" class="dropdown-item">History</a>
                  <a href="#" class="dropdown-item">Accountancy</a>
                  <a href="#" class="dropdown-item">Bengali</a>
                  
              </div> -->
          <!-- </div> -->
              
          <li><a href="./pricing" class="nav-link px-2 link-secondary text-black">Pricing</a></li>
          <li><a href="FAQs" class="nav-link px-2 link-secondary text-black">FAQs</a></li>
          <li><a href="/about" class="nav-link px-2 link-secondary text-black" target="_blank">About</a></li>
          
        </ul>

          <div class="col-md-3 text-end">
            <a href="/login" type="button" class="btn btn-manual me-2">Login</a>
            <a href="/signup" type="button" class="btn btn-manual-primary">Sign-up</a>
          </div>
        

      </header>
    </div>

<!-- navbar -->