    <!-- navbar -->
    <div class="container bg-dark">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
          <a class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <img src="./pic/logo.png">
            <div class="nametag text-light">
            <h3>Keyboard
                <small class="text-muted">Warriors</small>
            </h3>
            </div>
          </a>
 
          <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/techome" class="nav-link px-2 link-secondary text-light">Home</a></li>
         

            <div class="dropdown">
                <a href="#" class="nav-link px-2 link-secondary text-light dropdown-item" data-bs-toggle="dropdown">Category</a>
                <div class="dropdown-menu bg-dark">
                    <a class="nav-link px-2 text-light"><b>Entrance Test</b></a>
                    <a href="#" class="dropdown-item link-secondary">JEE MAINS</a>
                    <a href="#" class="dropdown-item link-secondary">JEE ADVANCE</a>
                    <div class="dropdown-divider"></div>
                    <a class="nav-link px-2 text-light"><b>Class XI and XII</b></a>
                    <a class="nav-link px-2"><small class="text-muted">Science</small></a>
                    <a href="#" class="dropdown-item link-secondary text-light">Computer Science</a>
                    <a href="#" class="dropdown-item link-secondary text-light">Mathematics</a>
                    <a class="nav-link px-2"><small class="text-muted">Arts & Commerce</small></a>
                    <a href="#" class="dropdown-item link-secondary text-light">Geography</a>
                    <a href="#" class="dropdown-item link-secondary text-light">History</a>
                    <a href="#" class="dropdown-item link-secondary text-light">Accountancy</a>
                    <a href="#" class="dropdown-item link-secondary text-light">Bengali</a>
                    
                </div>
            </div>
             
            

            <li><a href="./tecrevenue" class="nav-link px-2 link-secondary text-light">Revenue</a></li>
            <li><a href="#" class="nav-link px-2 link-secondary text-light">FAQs</a></li>
            <li><a href="/about" class="nav-link px-2 link-secondary text-light" target="_blank">About</a></li>
            
          </ul>
          
        
            <div class="col-md-3 text-end">
              <a href="/login" type="button" class="btn btn-outline-primary me-2">Login</a>
              <a href="/signup" type="button" class="btn btn-primary">Sign-up</a>
            </div>
            
  
        </header>
      </div>
  
  <!-- navbar -->